        .container{
            width: 90%;
            @include flexPosition(row,nowrap,center,center);
            padding: 1em;
            @include respond(small){
                flex-direction: column;
                width: 60%;
                margin: auto;
            }
            .card{
                position: relative;
                cursor: pointer;
                border: none;
                border-radius: 5px;
                &:hover .face.face1{
                    background: $baseColor1;
                    transform: translateY(0px);
                }
                &:hover .face.face1 .content{
                    opacity: 1;
                }
                &:hover .face.face2{
                    transform: translateY(0);
                }
            }
            .card .face {
                width: 400px;
                height: 200px;
                transition: 0.5s;
                border: none;
                border-radius: 5px;
                @include respond(small){
                    width: 300px;
                }
            }
            .card .face.face1{
                position: relative;
                background: $baseColor1;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                z-index: 1;
                transform: translateY(100px);
                border: none;
                border-radius: 5px;

            }
            .card .face.face1 .content{
                opacity: 0.7;
                transition: 0.5s;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                h3{
                    font-family: $tittlesFont;
                    color: $baseColor4;
                    text-align: center;
                    font-size: 1.5em;
                    padding: 0;
                    margin: 1em;
                    @include respond(small){
                        font-size: 1.2em;
                    }
                }
            }
            .card .face.face2{
                position: relative;
                background: $baseColor2;
                @include flexPosition(row,nowrap,center,center);
                padding: 1em;
                box-shadow: 0 20px 20px rgba(0, 0, 0, 0.5);
                transform: translateY(-100px);
                @include respond(small){
                    padding: 0.5em;
                }
            }
            .card .face.face2 .content p{
                padding: 1em;
                text-align: center;
                color: $baseColor4;
                font-family: $bodyFont;
                @include respond(small){
                    padding: 0.6em;
                }
            }
            .card .face.face2 .content .content__techIcons{
                color: $baseColor3;
                padding: 1em;
                @include respond(small){
                    padding: 0.5em;
                }
                @include flexPosition(row,nowrap,center,center);
                .techIcon{
                    font-size: 1.8em;
                    padding: 0.4em;
                    &:hover{
                        color: $baseColor4;
                    }
                    img{
                        width: 45px;
                        height: 40px;
                    }
                }
            }
        }