.contactSection{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 2em;
    @include respond(small){
        padding: 1em;
    }
    .formContainer{
        width: 80%;
        padding: 20px;
        @include sectionTittle();
        @include respond(small){
            width: 100%;
            padding: 1em;
        }
        .row{
            position: relative;
            width: 100%;
            display: grid;
            grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
        }
        .row .column{
            position: relative;
            width: 100%;
            padding: 0 0.6em;
            margin: 2em 0 0.7em;
            transition: 0.5s;

        }
        .row .column .inputBox{
            position: relative;
            width: 100%;
            height: 40px;
            color: $baseColor2;
            
        }
        .row .column .inputBox input{
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: transparent;
            font-size: 1.2em;
            font-family: $bodyFont;
            font-weight: 600;
            padding: 0 0.5em;
            z-index: 1;
            color: $baseColor4;
            @include respond(small){
                font-size: 1em;
            }
            &:focus + .text , &:valid + .text{
                top: -2em;
                left: -0.5em;
            }
            &:focus ~ .line , &:valid ~ .line{
                height: 100%;
            }
        }
        .row .column .inputBox .text{
            position: absolute;
            top: 0;
            left: 0;
            line-height: 40px;
            font-size: 1.2em;
            padding: 0 0.5em;
            display: block;
            transition: 0.5s;
            pointer-events: none;

            font-family: $tittlesFont;
            font-weight: 600;
            letter-spacing: 1px;
            @include respond(small){
                font-size: 1em;
            }
        }
        .row .column .inputBox .line{
            position: absolute;
            bottom: 0;
            display: block;
            width: 100%;
            height: 2px;
            background-color: $baseColor3;
            transition: 0.5s;
            border-radius: 2px;
            pointer-events: none;
        }
        .row .column .inputBox.textArea{
            position: relative;
            width: 100%;
            height: 100px;
            padding: 10px 0;
        }
        .row .column .inputBox.textArea textarea{
            @extend input;
            height: 100%;
            resize: none;
        }
        .row .column button{
            border: none;
            border-radius: 2px;
            outline: none;
            font-family: $bodyFont;
            font-size: 1.3em;
            font-weight: 600;
            letter-spacing: 1px;
            margin: 0  0.5em;
            padding: 0.4em 2em;
            cursor: pointer;

            background-color: $baseColor3;
            color: $baseColor1;

            transition: all 0.5s ease;
            &:hover{
                background-color: $baseColor2;
                color: $baseColor4;
            }
        }
    }
}