@import '_vars&fxs';
.header {
	width: 100%;
	background-color: transparent;
	padding: 1em;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;
    z-index: 100;
    @include fixedTop;
  }
  .header__h1{
      img{
       transform: scale(0.5) ;
    }
  }
  .menuIcon {
    display: none;
  }
  @media screen and (max-width: 600px) {
    .menuIcon {
	display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 50px;
    cursor:pointer;
    .bars{
        background: $baseColor3;
        border-radius: 10px;
        height: 6px;
        margin: 5px 0;
        transition: .4s  cubic-bezier(0.68, -0.6, 0.32, 1.6);
            @for $i from 1 through 3 {
                &:nth-child(#{$i}) {
                    width: calc(25% + #{$i} * 25%);
                }
	        }
        }
    }  
}
  .header__nav {
	width: 100%;
  }
  @media screen and (max-width: 600px) {
	.header__nav {
	  display: none;
	}
  }
  @media screen and (max-width: 600px) {
	.header__nav.ver {
	  display: flex;
	}
  }
  .header__ul {
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-end;
	align-items: center;
  }
  @media screen and (max-width: 600px) {
	.header__ul {
	  flex-direction: column;
      background-color: $baseColor1;
      width: 100%;
	}
  }
  .header__li {
	margin: 0 1em;
    font-weight: 600;
    color: $baseColor3;
    text-transform: capitalize;
    letter-spacing: 0;
    padding: 1em 0;
    font-size: 1.2em;
        &:hover{
            color: $baseColor2;
        }
  }
  @media screen and (max-width: 600px) {
	.header__li {
	  margin: 1em 0;
	}
  }