@import '_vars&fxs';
header{
    z-index: 3;
    position: fixed;
    top: 0;
    background-color: transparent;
    width: 100%;
    .centered{
        width: 90%;
        @include flexPosition(row,nowrap,space-between,center);
        margin: auto;
        padding: 2em;
        .logo{
            height: 90px ;
        }
        .menu{
            width: calc(100% - 90px);
        }
        .menuList{
            @include flexPosition(column, nowrap,flex-end,center);
            .menuItem{
                font-family: $bodyFont;
                color: $baseColor3;
                font-size: 1.3em;
                letter-spacing: 2px;
                font-weight: 600;
                padding-left: 2em;
            }
            display: none;
        }
        .menuIcon{
            display:flex;
            flex-direction:column;
            width: 50px;
            cursor:pointer;
            span{
                background: $baseColor3;
                border-radius:10px;
                height: 6px;
                margin: 6px 0;
                transition: .4s  cubic-bezier(0.68, -0.6, 0.32, 1.6);
                @for $i from 1 through 3 {
                    &:nth-child(#{$i}) {
                    width: calc(25% + #{$i} * 25%);
                    }
                }
            }
        }
    }
}