.home{
    width: 100%;
    height: 80vh;
    .centeredSection{
        @include flexPosition(row,nowrap,center,center);
        position: absolute;
        background: transparent;
        top: 20%;
        left: 5%;
        width: 90%;
        margin: auto;
        .textDiv{
            flex: 0.7;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            h1{
                font-family: $bodyFont;
                font-weight: $h1Weight;
                font-size: $h1Size;
                color: $baseColor4;
                margin: 0.2em 0;
                @include up(3px);
            }
            h2{
                font-family: $bodyFont;
                font-weight: $h2Weight;
                font-size: $h2Size;
                color: $baseColor3;
                letter-spacing: 1px;
                line-height: 1.5em;
            }
            .line{
                background: $baseColor2;
                border-radius: 2px;
                height: 6px;
                margin: 1.5em 0;
                width: 30%;
            }
        }
        .imgDiv{
            img{
                transform: scale(0.7);
                flex: 0.3;
            }
        }
    }
}
.projects{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    @include sectionTittle();
    .webProjects{
        width: 90%;
        padding: 2em;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        h4{
            color: $baseColor2;
            font-size: 1.6em;
            font-weight: $h2Weight;
            font-family: $tittlesFont;
            text-align: center;
            margin-bottom: 1em;
            letter-spacing: 1px;
        }
        .Wprojects{
            width: 100%;
            @include flexPosition(row,nowrap,center,center);
            
            .article{
                box-shadow: 0px 7px 10px rgba(0,0,0,0.5);
                border-radius: 5px;
                margin: 1em;
                padding: 2em;
                display: flex;
                align-items: center;
                justify-content: center;
                .article__content {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    width: 80%;
                    padding: 1rem;
                    text-align: center;
                    .content{
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                    }
                    img{
                        border-radius: 5px;
                    }
                }
                .content__title {
                    font-size: 1.3rem;
                    font-weight: 600;
                    line-height: 1.5;
                    color: $baseColor4;
                    padding-top: 1em;
                }
                  
                .content__description {
                    font-family: $bodyFont;
                    color: $baseColor2;
                    font-size: 1.2em;
                    line-height: 1.35;
                }
                .content__techIcons{
                    color: $baseColor3;
                    padding: 1em;
                    @include flexPosition(row,nowrap,center,center);
                    .techIcon{
                        font-size: 1.5em;
                        padding: 0.4em;
                        &:hover{
                            color: $baseColor2;
                        }
                    }
                }
                .btn {
                    border: none;
                    border-radius: 2px;
                    outline: none;
                    font-family: $bodyFont;
                    font-size: 1.5em;
                    font-weight: 600;
                    letter-spacing: 1px;
                    margin: 0  0.5em;
                    padding: 0.4em .8em;
                    cursor: pointer;
                    
                    background-color: $baseColor4;
                    color: $baseColor1;
        
                    transition: all 0.5s ease;
                    &:hover{
                        background-color: $baseColor2;
                        color: $baseColor4;
                    }
                  }
   
            }
        }
    }
}


#particles-js{ 
    position:absolute; 
    top: 0;
    width: 100%; 
    height: 100%; 
    background-color: #2a1626; 
}