section{
    width: 100%;
    height: 100vh;
    .centeredSection{
        @include flexPosition(row,nowrap,center,center);
        position: absolute;
        background: transparent;
        top: 20%;
        left: 5%;
        width: 90%;
        margin: auto;
        .textDiv{
            flex: 0.7;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            h1{
                font-family: $bodyFont;
                font-weight: $h1Weight;
                font-size: $h1Size;
                color: $baseColor4;
                margin: 0.2em 0;
                @include up(3px);
            }
            h3{
                font-family: $bodyFont;
                font-weight: $h2Weight;
                font-size: $h2Size;
                color: $baseColor4;
            }
            .line{
                background: $baseColor3;
                border-radius: 10px;
                height: 6px;
                margin: 6px 0;
                width: 30%;
            }
        }
        .imgDiv{
            img{
                transform: scale(0.7);
                flex: 0.3;
            }
        }
    }

}


#particles-js{ 
    position:absolute; 
    top: 0;
    width: 100%; 
    height: 100%; 
    background-color: #2a1626; 
}