@import '_card';
section{
    padding: 10vh 5vw;
}
.home{
    width: 100%;
    height: 100vh;
    .centeredSection{
        @include flexPosition(row,nowrap,center,center);
        position: absolute;
        background: transparent;
        top: 20%;
        left: 5%;
        width: 90%;
        margin: auto;
        @include respond(medium){
            flex-direction: column;
        }
        .textDiv{
            flex: 0.7;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            @include respond(medium){
                flex: 1;
            }
            h2{
                font-family: $bodyFont;
                font-weight: $h1Weight;
                font-size: $h1Size;
                color: $baseColor4;
                margin: 0.2em 0;
                @include up(3px);
            }
            h3{
                font-family: $bodyFont;
                font-weight: $h2Weight;
                font-size: $h2Size;
                color: $baseColor3;
                letter-spacing: 1px;
                line-height: 1.5em;
            }
            .line{
                background: $baseColor2;
                border-radius: 2px;
                height: 6px;
                margin: 1.5em 0;
                width: 30%;
            }
        }
        .imgDiv{
            img{
                transform: scale(0.7);
                flex: 0.3;
                @include respond(medium){
                    transform: scale(0.5);
                    flex: 1;
                }
            }
        }
    }
}
.projects{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    @include sectionTittle();
    .projectTitle{
        position: relative;
        background: none;
        text-transform: uppercase;
        text-decoration: none;
        border: 0.2em solid $baseColor3;
        border-radius: 5px;
        background-color: $baseColor2;
        padding: 0.5em 1em;
        @include flexPosition(row,nowrap,center,center);
        &::before {
          content: "";
          display: block;
          position: absolute;
          width: 10%;
          background: $baseColor4;
          height: 0.3em;
          right: 20%;
          top: -0.21em;
          transform: skewX(-45deg);
          -webkit-transition: all 0.45s cubic-bezier(0.86, 0, 0.07, 1);
          transition: all 0.45s cubic-bezier(0.86, 0, 0.07, 1);
        }
        &::after {
          content: "";
          display: block;
          position: absolute;
          width: 10%;
          background: $baseColor4;
          height: 0.3em;
          left: 20%;
          bottom: -0.25em;
          transform: skewX(45deg);
          -webkit-transition: all 0.45 cubic-bezier(0.86, 0, 0.07, 1);
          transition: all 0.45s cubic-bezier(0.86, 0, 0.07, 1);
        }
        &:hover {
          &::before {
            right: 80%;
          }
          &::after {
            left: 80%;
          }
        }
      }
    .webProjects{
        width: 90%;
        padding: 2em;
        margin: 2em;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        h4{
            color: $baseColor3;
            font-size: 1.6em;
            font-weight: $h2Weight;
            font-family: $tittlesFont;
            text-align: center;
            letter-spacing: 1px;
            padding: 0.5em;
            border-radius: 5px;
            background-color: $baseColor1;
            border: 2px solid $baseColor3;
        }
        .Wprojects{
            width: 100%;
            @include flexPosition(row,nowrap,center,center);
            @include respond(medium){
                flex-direction: column;
            }
            .btn {
                border: none;
                border-radius: 2px;
                outline: none;
                font-family: $bodyFont;
                font-size: 1.5em;
                font-weight: 600;
                letter-spacing: 1px;
                margin: 0  0.5em;
                padding: 0.4em .8em;
                cursor: pointer;
                
                background-color: $baseColor4;
                color: $baseColor1;
    
                transition: all 0.5s ease;
                &:hover{
                    background-color: $baseColor2;
                    color: $baseColor4;
                }
            }


        }
    }
    .gameAssets{
      @extend .webProjects;
      .Dprojects{
        @extend .Wprojects;
      }
    }
}

.about{
    @include sectionTittle();
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 2em;
    margin-bottom: 4em;
    .aboutTittle{
      position: relative;
      background: none;
      color: $baseColor3;
      text-transform: uppercase;
      text-decoration: none;
      border: 0.2em solid $baseColor3;
      border-radius: 5px;
      background-color: $baseColor1;
      padding: 0.5em 1em;
      @include flexPosition(row,nowrap,center,center);
      &::before {
        content: "";
        display: block;
        position: absolute;
        width: 10%;
        background: $baseColor4;
        height: 0.3em;
        right: 20%;
        top: -0.21em;
        transform: skewX(-45deg);
        -webkit-transition: all 0.45s cubic-bezier(0.86, 0, 0.07, 1);
        transition: all 0.45s cubic-bezier(0.86, 0, 0.07, 1);
      }
      &::after {
        content: "";
        display: block;
        position: absolute;
        width: 10%;
        background: $baseColor4;
        height: 0.3em;
        left: 20%;
        bottom: -0.25em;
        transform: skewX(45deg);
        -webkit-transition: all 0.45 cubic-bezier(0.86, 0, 0.07, 1);
        transition: all 0.45s cubic-bezier(0.86, 0, 0.07, 1);
      }
      &:hover {
        &::before {
          right: 80%;
        }
        &::after {
          left: 80%;
        }
      }
    }
    .text{
      padding: 2em;
      text-align: center;
      font-family: $bodyFont;
      color: $baseColor3;
      font-size: 1.2em;
      width: 60%;
      margin: auto;
      line-height: 40px;
      .pIntro{
        color: $baseColor4;
        font-size: 1.5em;
        padding: 1em;
      }
    }
    .about_skills{
        @include flexPosition(row,nowrap,center,center);
        @include respond(medium){
          flex-direction: column;
        }
    }
}

#particles-js{ 
    position:absolute; 
    top: 0;
    width: 100%; 
    height: 100%; 
    background-color: #2a1626; 
}