$blackColor: #2A1626;
$baseColor1: #572B4B;
$baseColor2: rgb(172,59,105);
$baseColor3: rgb(238,157,83);
$baseColor4: #ffffff;


$tittlesFont: 'Montserrat';
$h1Weight: 900;
$h1Size: 6em;
$h2Size: 2.5em;
$h2Weight: 600;
$bodyFont: 'Raleway';

@mixin sectionTittle(){
    h2{
        color: $baseColor3;
        font-size: $h2Size;
        font-weight: $h2Weight;
        font-family: $tittlesFont;
        text-align: center;
        margin-bottom: 1em;
        letter-spacing: 1px;
    }
}

@mixin flexPosition($direction,$wrapping,$just,$align){
    display: flex;
    flex: $direction $wrapping;
    justify-content: $just;
    @if $wrapping == 'nowrap' {
		align-items		: $align;	
	}@else{
		align-content	: $align;
	}	
}
@mixin grid ( $repetirC , $grosorC , $gap , $repetirR : initial, $grosorR : initial ){
	display					: grid;
	grid-template-columns	: repeat( $repetirC , $grosorC );
	@if $repetirR != 'initial' {
		grid-template-rows	: repeat( $repetirR , $grosorR );
	}
	gap: $gap ;
}
@mixin fixedTop(){
    position: fixed;
    top: 0;
    left: 0;
}
@mixin up($separation){
    text-transform: uppercase;
    letter-spacing: $separation;
}

@mixin respond($breakpoint) {
    @if $breakpoint == medium {
        @media screen and (max-width:1000px) { @content };
    }
    @if $breakpoint == small {
        @media screen and (max-width:650px) { @content };
    }
}